<ion-navbar primary *navbar>
  <ion-title>
    Listeando
  </ion-title>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
</ion-navbar>

<ion-toolbar>
	<ion-segment (change)="onSegmentChanged($event)" primary>
		<ion-segment-button value="all">
			Todos
		</ion-segment-button>
		<ion-segment-button value="shopping">
			Compras
		</ion-segment-button>
		<ion-segment-button value="tasking">
			Tareas
		</ion-segment-button>
		<ion-segment-button value="traveling">
			Viajes
		</ion-segment-button>
	</ion-segment>
</ion-toolbar>


<ion-content class="home">

		<div class="noLists" *ngIf="!lists.length">
			<p>No tienes ninguna tarea pendiente.</p>
			<p>Haz click aquí para crear tu primera tarea o pulsa el icono <ion-icon name="add-circle"></ion-icon> situado arriba a la derecha.</p>
		</div>

		<ion-list>
			<ion-card *ngFor="let t of lists | typeLists:[filter]" [ngClass]="t.type">
				<ion-item-sliding >
					<ion-item class="itemCard" (click)="edit(t)">
						<ion-label>
							<h2>{{t.name}}</h2>
							<ul class="tasking-list" *ngIf="t.subtasks.length > 0">
								<li *ngFor="let p of t.subtasks" [style.width]="percentage(t.subtasks.length) + '%'" [ngClass]="{active: 'p.done === true'}">.</li>
							</ul>
						</ion-label>
					</ion-item>
					<ion-item-options>
						<button danger> <ion-icon name="trash"></ion-icon> Borrar</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-card>
		</ion-list>



<!--	<toh-lists></toh-lists>-->

<button (click)="newList()" fab fab-bottom fab-right>
  <ion-icon name="add"></ion-icon>
</button>

</ion-content>
